<div class="content container games-container">
    <h2><%= title %></h2>
    <div class="list games-list">
        <% games.forEach(game => { %>
            <a href="/games/<%= game.id %>">
                <div class="card game-card">
                    <img class="card-img" src="/uploads/<%= game.url %>.webp" alt="<%= game.title %> image">
                    <div class="card-title"><%= game.title %></div>
                </div>
            </a>
        <% }) %>
    </div>
    <a href="/games/new" aria-label="Add game">
        <%- include("partials/addItem") %>
    </a>
</div>