<div class="content container genres-container">
    <h2>Genres</h2>
    <div class="list genres-list">
        <% genres.forEach(genre => { %>
            <a href="/genres/<%= genre.id %>">
                <div class="card">
                    <img class="card-img" src="uploads/<%= genre.logo %>.webp" alt="<%= genre.name %> image">
                    <div class="card-title"><%= genre.name %></div>
                </div>
            </a>
            <a href="/genres/delete/<%= genre.id %>"><button class="delete btn">Delete</button></a>
        <% }) %>
    </div>
    <a href="/genres/new" aria-label="Add genre">
        <%- include("partials/addItem") %>
    </a>
</div>

<style>
    .card .delete.btn {
        position: absolute;
        background-color: red;
        z-index: 999;
    }
</style>