<div class="home-intro">
    <h1>Videogames Inventory</h1>
</div>
<div class="container games-container">
    <h2>Featured Games</h2>
    <div class="list games-list">
        <% games.forEach(game => { %>
            <div class="card game-card">
                <img class="card-img" src="uploads/<%= game.url %>.webp" alt="<%= game.title %> image">
                <div class="card-title"><%= game.title %></div>
            </div>
        <% }) %>
    </div>
</div>
<div class="container genres-container">
    <h2>Featured Genres</h2>
    <div class="list genres-list">
        <% genres.forEach(genre => { %>
            <div class="card genre-card">
                <img class="card-img" src="/uploads/<%= genre.logo %>.webp" alt="<%= genre.name %> logo">
                <div class="card-title"><%= genre.name %></div>
            </div>
        <% }) %>
    </div>
</div>
<div class="container developers-container">
    <h2>Featured Developers</h2>
    <div class="list developers-list">
        <% developers.forEach(developer => { %>
            <div class="card developer-card">
                <img class="card-img" src="/uploads/<%= developer.logo %>_logo.webp" alt="<%= developer.name %> logo">
            </div>
        <% }) %>
    </div>
</div>
